DATABASE_URL="postgresql://aanjaimi:K5hy1fsSYAxm@ep-wild-moon-a500sjrn-pooler.us-east-2.aws.neon.tech/NextAuth?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://aanjaimi:K5hy1fsSYAxm@ep-wild-moon-a500sjrn.us-east-2.aws.neon.tech/NextAuth?sslmode=require"